<config>
    <modules>
        <Wfn_ConcardisPay>
            <version>1.0.0.0</version>
        </Wfn_ConcardisPay>
    </modules>
    <global>
        <helpers>
            <wfnconcardispay>
                <class>Wfn_ConcardisPay_Helper</class>
            </wfnconcardispay>
        </helpers>
        <models>
            <wfnconcardispay>
                <class>Wfn_ConcardisPay_Model</class>
            </wfnconcardispay>
        </models>
    </global>
    <default>
        <payment>
            <wfn_concardispay>
                <active>1</active>
                <model>wfnconcardispay/payment</model>
                <payment_action>authorize</payment_action>
                <cctypes>AE,VI,MC,DI</cctypes>
                <order_status>processing</order_status>
                <title>Credit / Debit / Prepaid Cards (Concardis)</title>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
                <cctypes>AE,VI,MC,DI</cctypes>
            </wfn_concardispay>
        </payment>
    </default>
</config>