<?xml version="1.0"?>
<config>
    <modules>
        <Wfn_ConcardisPay>
            <version>1.0.0.0</version>
        </Wfn_ConcardisPay>
    </modules>
    <global>
        <helpers>
            <wfnconcardispay>
                <class>Wfn_ConcardisPay_Helper</class>
            </wfnconcardispay>
        </helpers>
        <models>
            <wfnconcardispay>
                <class>Wfn_ConcardisPay_Model</class>
            </wfnconcardispay>
        </models>
    </global>
    <default>
        <payment>
            <wfn_concardis_cc>
                <active>1</active>
                <model>wfnconcardispay/method_cc</model>
                <payment_action>authorize</payment_action>
                <cctypes>AE,VI,MC,DI</cctypes>
                <order_status>processing</order_status>
                <title>Credit / Debit / Prepaid Cards (ConCardis)</title>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
                <cctypes>AE,VI,MC,DI</cctypes>
                <order_api_url>https://secure.payengine.de/ncol/test/orderdirect.asp</order_api_url>
                <maintenance_api_url>https://secure.payengine.de/ncol/test/maintenancedirect.asp</maintenance_api_url>
                <api_pspid></api_pspid>
                <api_userid></api_userid>
                <api_password><![CDATA[]]></api_password>
                <api_passphrase><![CDATA[]]></api_passphrase>
            </wfn_concardis_cc>
        </payment>
    </default>
</config>
